@charset "utf-8"; /* @charset muss ganz oben stehen */
/* CSS ist bei Klassen und ID Namen case sensitiv */

/* Anderes Stylesheet einbinden
    @import "weiteresStylesheet.css";
*/

/* Media Queries, Einschränkungen im CSS
    @media (orientation: portrait) {
        ... Formate für hochformatige Ausgabemedien ...
    }
*/

/*
Muster:
    Selektor(en) {
        Eigenschaft1: Wert(e)1;
        Eigenschaft2: Wert(e)2;
    }
Wird eine Eigenschaft nicht angegeben, verwendet der Browser den in der CSS Spezifikation definierten Standardwert.

Vererbung: Nicht alle Eigenschaften werden automatisch vererbt. Bsp: background, margin, border, padding, width, ...
Man kann aber die Vererbung mit hinherit erzwingen:
    body {
        background: inherit;
        background-color: red;
    }

Vererbung und relative Angaben, Bsp:
    body {
        font-size: 50%;
    }
    p {
        font-size: 50%;
    }
Bewirkt ein 0.5 * 0.5 = 0.25 also 25% Darstellung.

Universalselektor * (wirkt auf alle Elemente)
    * {
        color: magenta;
    }

    main * {
        color: red;
    }

Typische Fehler:
    - ; oder , vergessen
    - Leerzeichen in Werten (Bsp: # ff0000)
    - statt : ein =
    - Anzahl der Klammern nicht gerade
    - kein einzeiliger Kommentar (im JavaScript //)
    - case sensitiv bei Klassen und ID Namen
*/

/* 4, Typ Selektor (Performance am besten) */
h3 {
    color: magenta;
}

/* 5, 6, Selektoren gruppiert (Vergleiche logisch OR) */
h5, h6 {
    color: darkgreen;
}

/* 7, id Selektor mit # angesprochen, div#id1 ist W3C unerwünscht */
#id1 {
    color: blue;
}

/* 8, 9, class Selektor mit . angesprochen */
.class1 {
    color: chartreuse;
}

/* 10, 11, class kann auf einen bestimmten Typ Selektor eingeschränkt werden (Vergleiche logisch AND) */
p.class2 {
    color: aqua;
}

/* 12, 13, 14, Pseudoklasse mit einem : angesprochen,
   Pseudoklasse erster Eintrag, Typ Selektor eingeschränkt auf Pseudoklasse (Vergleiche logisch AND) */
li:first-child {
    color: gold;
}

/* 15, Pseudoelement mit zwei :: angesprochen, Pseudoelement erstes Zeichen (Vergleiche logisch AND) */
#ersterbuchstabe::first-letter {
    font-size: xx-large;
}

/* 16, Dynamische Pseudoklasse beim Hovern (Mouse Over, Vorsicht: Bei Touch Devices nicht unterstützt!)
   class Selektor auf dynamische Pseudoklasse eingeschränkt (Vergleiche logisch AND) */
.classhover:hover {
    color: maroon;
}

/*
    Einheiten:   (Bei 0 keine Einheit dazu schreiben)
    Größe:       Normaler Weise bitte relative Größenangaben machen!
        Absolut: 1in = 6pc = 72pt = 2.54cm = 25.4mm (1" = 1Zoll = 1Inch = 6Pica = 72Punkt)
        Relativ: 1em (Schriftgröße), 1rem (root em, Schriftgröße der Wurzel),
                 (wird em für die Schriftgröße genommen, bezieht es sich auf die Schriftgröße des Elternelements,
                  rem bezieht sich immer auf die Schriftgröße des Tags html )
                 100vw (Viewport Width in %), 100vh (Viewport Height in %),
                 %, px (Pixel)
    Auflösung:   dpi (Dots per Inch)
                 (3 Einheiten hängen zusammen: absolute Größe (zB in mm), px, dpi
                  man kann sich also 2 davon aussuchen, die 3. ist bestimmt!)
    Winkel:      360deg (Grad)
    Zeit:        1000ms = 1s
*/

/* 17, Boxmodell */
#idbox {
     /*box-sizing: border-box;*/
                                            /*
                                                border-box für neue CSS3 Rahmenbox
                                                Breite und Höhe gibt Rahgmengröße an,
                                                content-box für alte Inhaltsbox (Standard)
                                                Breite und Höhe gibt Inhaltsgröße an
                                            */
    position: absolute;
                                            /*
                                                absolute
                                                Element wird aus Dokumentfluss genommen und wird frei positioniert
                                                static
                                                Element normal im Dokumentfluss (Standard)
                                                relative
                                                Element zur statischen Position relativ verschieben
                                                fixed
                                                wie absolute, aber kein Bewegen beim Scrollen
                                            */
    left: 400px;
                                            /*
                                                von links nach rechts positiv
                                            */
    top: 400px;
                                            /*
                                                von oben nach unten positiv
                                            */
    /*z-index: -1;*/
                                            /*
                                                Position in Tiefenrichtung, -1 für hinter den Text
                                            */
    margin: 0;
                                            /*
                                                Außenabstand
                                                5px 10px 15px 20px
                                                Reihenfolge im Uhrzeigersinn oben beginnend
                                                oben 5px, rechts 10px, unten 15px, links 20px

                                                5px 10px 15px
                                                oben 5px, rechts 10px, unten 15px, links 10px

                                                5px 10px
                                                oben 5px, rechts 10px, unten 5px, links 10px

                                                5px
                                                oben 5px, rechts 5px, unten 5px, links 5px
                                            */
    border: 10px solid red;
                                            /*
                                                Rahmen
                                            */
    padding: 10px;
                                            /*
                                                Innenabstand
                                            */
    width: 100px;
                                            /*
                                                Breite (Inhalt bei content-box 100px, Rahmen bei border-box 150px)
                                            */
    height: 50px;
                                            /*
                                                Höhe (Inhalt bei content-box 50px, Rahmen bei border-box 80px)
                                            */
}

/* 18, 19, float Anordnung, Test durch Änderung der Browsergröße */
.classfloatleft {
    float: left;
}
.classfloatright {
    float: right;
}
.classfloatdarunter {
    clear: both;        /* auch nur left oder right */
}

/* Vererbung (Performance am schlechtesten) */
/* 20, 21, Vererbung mit class */
.classvererbung {
    color: gray;    /* gray US, grey UK */
}
.classvererbungueberschrieben {
    color: orange;
}

/* 22, Vererbung, parent > child, Nachfahre nur direkt */
div > h5 {
    color: blueviolet;
}

/* 23, Vererbung, space, parent child, Nachfahre direkt oder indirekt, descendant */
section span {
    color: pink;
}

/* 24, Vererbung, +, Nachbar (Geschwister, sibling, Abfolge in der Reihenfolge) nur direkt */
section + h5 {
    color: yellowgreen;
}

/* 25, Vererbung, ~, Nachbar (Geschwister, sibling, Abfolge in der Reihenfolge) direkt oder indirekt
     nur gültig innerhalb des gleichen Elterntags */
section ~ h6 {
    color: khaki;
}

/* 26, innerhalb und ausserhalb eines Range (Pseudoklasse) */
#testrange:in-range {
    color: green;
}
#testrange:out-of-range{
    color: red;
}

/* 27, 28, not() (Vergleiche logisch NOT) */
#idnot :not(p) {
    color: darkturquoise;
}

/* 29, 30, 31, 32, CSS Farbfunktionen */
/* Additives Farbmodell RGB (Licht addiert, Monitor), Subtraktives Farbmodell CMYK (Licht gefiltert, Drucker) */
#idfunktionrgb {
    color: rgb(255, 0, 255);        /* Rot, Grün, Blau, #FF00FFFF */
}
#idfunktionrgba {
    color: rgba(220, 77, 220, 0.5);  /* Rot, Grün, Blau, Alpha=Transparenz=opacity als Dezimalzahl oder Prozentangabe */
}
#idfunktionhsl {
    color: hsl(300, 100%, 25%);     /* Hue=Farbe in deg, Saturation=Sättigung in %, Lightness=Helligkeit in % */
}
#idfunktionhsla {
    color: hsla(300, 100%, 25%, 50%);
    /* Hue=Farbe in deg, Saturation=Sättigung in %, Lightness=Helligkeit in %,
       Alpha=Transparenz=opacity als Dezimalzahl oder Prozentangabe */
}

/* 33, Element mit mehreren class */
.classmehrere1 {
    color: brown;
}
.classmehrere2 {
    font-weight: bold;
}
.classmehrere1.classmehrere2 {
    font-size: 2em;
}

/* 34, Attributselektor */
p[title~="wirksam"] {
    font-weight: bolder;
}

/* 35, Struktur-Pseudoklasse, gerade Zeilen fett, leere Zellen rot */
table, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
tr:nth-child(even) {
    font-weight: bold;
}
td:empty {
    background-color: red;
}

/* 36, Flexbox, parent main ist flexbox */
main {
    display: flex;
                            /*
                                block
                                Element wird Block Element (erzeugt davor und danach einen Zeilenumbruch)
                                inline
                                Element wird Inline Element (erzeugt keinen Zeilenumbruch)
                                flex
                                Flexbox
                                none
                                Ausblenden und keinen Platz verbrauchen
                            */
    /*flex-direction: column;*/
                            /*
                                row
                                Anordnung in Zeile (Standard)
                                column
                                Anordnung in Spalte
                            */

}
article.classflexbox {
    width: 300px;
    margin: 10px 10px 10px 0;
    border: 2px solid black;
    padding: 10px;
}
