@charset "UTF-8";
#kontainer {
    padding: 0;                                 /* Innenabstand */
}
#kopf {
    border: 1px solid #000483;                  /* Rahmen */
    border-radius: 0.5em;                       /* Rahmen abgerundet */
    padding: 10px;                              /* Innenabstand */
    min-height: 30px;                           /* Minimalhöhe */
    background-color: #f2f2f7;                  /* Hintergrundfarbe */
}
#menue {
    display: none;                              /* Menü nicht drucken */
}
#inhalt {
    margin: 3px 0 0 0;                          /* Aussenabstand, top right bottom left */
    border: 1px solid #000483;                  /* Rahmen */
    border-radius: 0.5em;                       /* Rahmen abgerundet */
    padding: 10px;                              /* Innenabstand */
    min-height: 400px;                          /* Minimalhöhe */
    background-color: #f2f2f7;                  /* Hintergrundfarbe */
}
#fuss {
    margin: 3px 0 0 0;                          /* Aussenabstand, top right bottom left */
    border: 1px solid #000483;                  /* Rahmen */
    border-radius: 0.5em;                       /* Rahmen abgerundet */
    padding: 10px;                              /* Innenabstand */
    min-height: 30px;                           /* Minimalhöhe */
    background-color: #f2f2f7;                  /* Hintergrundfarbe */
}
body {
    margin: 0;                                  /* Aussenabstand */
    font-family: Arial, Helvetica, sans-serif;  /* Schriftart Liste */
    font-size: 12pt;                            /* Schriftgröße */
    color: #000483;                             /* Vordergrundfarbe=Schriftfarbe */
}
#aufloesung::after {
    content: "druck";                           /* Verwendetes Stylesheet in Kopfzeile schreiben */
}
