@charset "UTF-8";
#kontainer {
    margin: 0.5% auto 0.5% auto;                /* Aussenabstand, top right bottom left, durch auto horizontal mittig */
    border: 0;                                  /* Rahmen */
    padding: 0;                                 /* Innenabstand */
    max-width: 1600px;                          /* Maximalbreite für sehr große Displays */
}
#kopf {
    margin: 0 0.5% 0 0.5%;                      /* Aussenabstand, top right bottom left */
    border-radius: 0.5em;                       /* Rahmen abgerundet */
    padding: 10px;                              /* Innenabstand */
    min-height: 30px;                           /* Minimalhöhe */
    background-color: #000483;                  /* Hintergrundfarbe */
    box-shadow: 0.2em 0.2em 1em #000483;        /* Schatten rechts unten verlaufend */
}
#menue {
    margin: 1% 0 1% 0.5%;                       /* Aussenabstand, top right bottom left */
    border-radius: 0.5em;                       /* Rahmen abgerundet */
    padding: 5px;                               /* Innenabstand */
    min-height: 200px;                          /* Minimalhöhe */
    background-color: #000483;                  /* Hintergrundfarbe */
    box-shadow: 0.2em 0.2em 1em #000483;        /* Schatten rechts unten verlaufend */
}
#inhalt {
    margin: 1% 0.5% 1% 0;                       /* Aussenabstand, top right bottom left */
    border-radius: 0.5em;                       /* Rahmen abgerundet */
    padding: 10px;                              /* Innenabstand */
    min-height: 400px;                          /* Minimalhöhe */
    background-color: #000483;                  /* Hintergrundfarbe */
    box-shadow: 0.2em 0.2em 1em #000483;        /* Schatten rechts unten verlaufend */
}
#fuss {
    margin: 0 0.5% 0 0.5%;                      /* Aussenabstand, top right bottom left */
    border-radius: 0.5em;                       /* Rahmen abgerundet */
    padding: 10px;                              /* Innenabstand */
    min-height: 30px;                           /* Minimalhöhe */
    background-color: #000483;                  /* Hintergrundfarbe */
    box-shadow: 0.2em 0.2em 1em #000483;        /* Schatten rechts unten verlaufend */
    clear: both;                                /* Fußzeile wieder ganz normal darunter anordnen */
}
body {
    font-family: Arial, Helvetica, sans-serif;  /* Schriftart Liste */
    color: #ffffff;                             /* Vordergrundfarbe=Schriftfarbe */
    background: #f2f2f7 url("hintergrund.gif") repeat fixed;
                                                /* Hintergrund Bild wiederholen und nicht scrollen */
    overflow-y: scroll;                         /* Vertikalen Rollbalken immer einblenden,
                                                   damit keine horizontale Verschiebung entsteht */
}
