@charset "UTF-8";
#kontainer {
    font-size: 1.2rem;
}
#menue {
    width: 200px;
    float: left;                                /* Menü links anordnen */
}
#inhalt {
    width: calc(95% - 200px);                   /* Inhaltsbreite mit ein wenig Abstand zum Menü */
    float: right;                               /* Inhalt rechts anordnen */
}
#aufloesung::after {
    content: "screenmin1800";                   /* Verwendetes Stylesheet in Kopfzeile schreiben */
}
