@charset "UTF-8";
#kontainer {
    font-size: 0.8rem;
}
#menue {
    margin: 1% 0.5% 1% 0.5%;                    /* Bei kleinem Display untereinander anordnen */
}
#inhalt {
    margin: 0 0.5% 1% 0.5%;                     /* Bei kleinem Display untereinander anordnen */
}
#aufloesung::after {
    content: "screenmax599";                    /* Verwendetes Stylesheet in Kopfzeile schreiben */
}
