@charset "UTF-8";
header, nav, main, footer {
    border-radius: 0.5em;
    background-color: #000483;
    box-shadow: 0.2em 0.2em 1em #000483;
}
@media (max-width: 599px) {
    #kontainer {
        margin: 0.5% auto 0.5% auto;
        border: 0;
        padding: 0;
    }
    header {
        margin: 0 0.5% 0 0.5%;
        padding: 10px;
        min-height: 30px;
    }
    #aufloesung::after {
        content: "max-width: 599px";
    }
    nav {
        margin: 0.5% 0.5% 0 0.5%;
        padding: 5px;
        height: 300px;
    }
    main {
        margin: 0.5% 0.5% 0 0.5%;
        padding: 10px;
        min-height: 400px;
    }
    footer {
        margin: 0.5% 0.5% 0 0.5%;
        padding: 10px;
        min-height: 30px;
    }
}
@media (min-width: 600px) {
    #kontainer {
        display: grid;                      /* Grid=Gitter */
        gap: 5px;                           /* Zellen Zwischenabstand */
        grid-template-columns: 200px auto;  /* 2 Spalten, 1. Spalte 200px, 2. Spalte Rest */
        /* grid-template-columns: 1fr 2fr;     /* 2 Spalten, 1. Spalte 1 Fraction = 1/3, 2. Spalte 2/3 */
        margin: 0.5% auto 0.5% auto;
        border: 0;
        padding: 0;
        max-width: 1600px;
    }
    header {
        grid-column: 1 / 3;                 /* Von Spalte 1 bis vor Spalte 3 */
        /*grid-column: 1 / span 2;            /* Von Spalte 1 und überspanne 2 Spalten */
        /*grid-row: 1;                        /* Zeile 1 */
        padding: 10px;
        min-height: 30px;
    }
    #aufloesung::after {
        content: "min-width: 600px";
    }
    nav {
        grid-column: 1;                     /* Spalte 1 */
        /*grid-row: 2;                        /* Zeile 2 */
        padding: 5px;
        height: 300px;
    }
    main {
        grid-column: 2;                     /* Spalte 2 */
        /*grid-row: 2;                        /* Zeile 2 */
        padding: 10px;
        min-height: 400px;
    }
    footer {
        grid-column: 1 / 3;                 /* Von Spalte 1 bis vor Spalte 3 */
        /*grid-row: 3;                        /* Zeile 3 */
        padding: 10px;
        min-height: 30px;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background: #f2f2f7 url("hintergrund.gif") repeat fixed;
    overflow-y: scroll;
}
