@charset "UTF-8";
#kontainer {
    padding: 0;                                 /* Innenabstand */
}
header, main, footer {
    border: 1px solid #000483;                  /* Rahmen */
    border-radius: 0.5em;                       /* Rahmen abgerundet */
    background-color: #f2f2f7;                  /* Hintergrundfarbe */
}
header {
    padding: 10px;                              /* Innenabstand */
    min-height: 30px;                           /* Minimalhöhe */
}
nav {
    display: none;                              /* Menü nicht drucken */
}
main {
    margin: 3px 0 0 0;                          /* Aussenabstand, top right bottom left */
    padding: 10px;                              /* Innenabstand */
    min-height: 400px;                          /* Minimalhöhe */
}
footer {
    margin: 3px 0 0 0;                          /* Aussenabstand, top right bottom left */
    padding: 10px;                              /* Innenabstand */
    min-height: 30px;                           /* Minimalhöhe */
}
body {
    margin: 0;                                  /* Aussenabstand */
    font-family: Arial, Helvetica, sans-serif;  /* Schriftart Liste */
    font-size: 12pt;                            /* Schriftgröße */
    color: #000483;                             /* Vordergrundfarbe=Schriftfarbe */
}
#aufloesung::after {
    content: "druck";                           /* Verwendetes Stylesheet in Kopfzeile schreiben */
}
