@charset "UTF-8";
header, nav, main, footer {
    border-radius: 0.5em;
    background-color: #000483;
    box-shadow: 0.2em 0.2em 1em #000483;
}
@media (max-width: 599px) {
    #kontainer {
        margin: 0.5% auto 0.5% auto;
        border: 0;
        padding: 0;
    }
    header {
        margin: 0 0.5% 0 0.5%;
        padding: 10px;
        min-height: 30px;
    }
    #aufloesung::after {
        content: "max-width: 599px";
    }
    #flexkontainer {
        display: flex;                                  /* Flexbox */
        flex-direction: column;                         /* In Spalte untereinander */
    }
    nav {
        margin: 0.5% 0.5% 0 0.5%;
        padding: 5px;
        height: 300px;
    }
    main {
        margin: 0.5% 0.5% 0 0.5%;
        padding: 10px;
        min-height: 400px;
    }
    footer {
        margin: 0.5% 0.5% 0 0.5%;
        padding: 10px;
        min-height: 30px;
    }
}
@media (min-width: 600px) {
    #kontainer {
        margin: 0.5% auto 0.5% auto;
        border: 0;
        padding: 0;
        max-width: 1600px;
    }
    header {
        padding: 10px;
        min-height: 30px;
    }
    #aufloesung::after {
        content: "min-width: 600px";
    }
    #flexkontainer {
        display: flex;                                  /* Flexbox */
        flex-direction: row;                            /* In Zeile nebeneinander */
    }
    nav {
        margin: 0.5% 0.5% 0 0;
        padding: 5px;
        width: 200px;
        height: 300px;
    }
    main {
        flex: auto;                                     /* Breite dynamisch ausfüllen */
        margin: 0.5% 0 0.5% 0.5%;
        padding: 10px;
        min-height: 400px;
    }
    footer {
        padding: 10px;
        min-height: 30px;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background: #f2f2f7 url("hintergrund.gif") repeat fixed;
    overflow-y: scroll;
}
